services:
  fast-note-sync-service:
    image: haierkeys/fast-note-sync-service:latest
    container_name: fast-note-sync-service
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /data/fast-note-sync/storage/:/fast-note-sync/storage/
      - /data/fast-note-sync/config/:/fast-note-sync/config/
    networks:
      - app-network  # 与 image-api 在同一网络1

